log/*
tmp
tmp/*
tmp/**/*
config/database.yml
config/config.yml
db/*.sqlite3
db/*.sqlite3-journal
public/system
public/sitemap.xml
public/films
public/www
public/www/*
public/films/*
log/development.log
log
log/*
nbproject
nbproject/*
nbproject/**/*
