<p>Hallo <%= @user.username %></p>

<p>Deine Unterstützeranfrage an <%= @friend.username %> wurde bestätigt. Ihr könnt euch nun gegenseitig unterstützen.</p>

<p>Viel Spass auf <%= link_to "nimmt-ab.de", @url %></p>