<div id="ads_large_rectangle">
  <div class="ads_inner">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-5813372499647345";
      /* 336x280_Nimmt_Ab_LargeRectangle */
      google_ad_slot = "6236767265";
      google_ad_width = 336;
      google_ad_height = 280;
      //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>