- noindex
#content
  .wrapper
    #imprint
      %h2 
        Impressum
      %p
        Diese Seite wird betrieben von
        = link_to "Adwords Beratung Karlsruhe - G.Consulting", "http://www.gconsulting.de/"
      %br
      Inh.: Alex Günter
      %br
      Reinhold-Schneider-Str. 76
      %br
      76199 Karlsruhe
      %br
      Steuernummer: 35078/08641
      %br
      %i info (at) nimmt-ab de
