- title "Macher"
#content
  .wrapper
    %h2 Entstehung
    %p
      eigentlich wollte ich bis Weihnachten nur mein Gewicht aufschreiben. Nachdem der Zettel aber nach fünf Wochen voll war und alles ziemlich unübersichtlich aussah, wollte ich es einfacher haben. Also erstellte ich eine erste Version einer Webseite, auf der ich mein Gewicht täglich protokollieren konnte. Der Vorteil: als Graph dargestellt sah ich direkt wie sich meine Bemühungen auszahlten. Jedoch wurde die Motivation zum Abnehmen nach einigen Wochen weniger und ich überlegte, dass ich Unterstüzer brauche. Also erweiterte ich die Webseite um Social-Network-Funktionalität: Freunde einladen die ihr Profil anlegen können und ebenfalls ihr Gewicht protokollieren können + mich beim Abnehmen unterstützen indem sie auf meine Pinnwand schreiben können.
    %p
      Die erste öffentliche Beta von "nimmt-ab.de" ging im Juli 2011 an den Start, 7 Monate nach dem Zettel mit meinen unleserlichen Aufschrieben.
    %h2 Macher
    = link_to "https://plus.google.com/115704048722783442273?rel=author" do
      = image_tag "https://secure.gravatar.com/avatar/09191dc40c3caa7a1c35d4fbff218ffd?size=200", :alt => "Alex Günter"
    %p
      Ich habe Informatik an der Uni Karlsruhe studiert und arbeite nun im Online Marketing. In meiner Freizeit programmiere ich gerne - was wohl der Grund ist, weshalb ich zu wenig Bewegung bekomme :)