- title "Nutzungsbedingungen"
- noindex
#content
  .wrapper
    %h1 Nutzungsbedingungen
    %h2 Ihr Verhältnis zu Nimmt-ab.de
    %p
      Nimmt-ab wird von G.Consulting zur Verfügung gestellt. Es besteht keine Anspruch auf die Ebringung des Dienstes.
      Die Nutzung des Dienstes setzt voraus, dass sie diese Nutzungsbedingungen gelesen und ihnen zugestimmt haben.
      Dieser Dienst wird Ihnen kostenlos zur Verfügung gestellt.
    %h2 Ihr Account
    %p
      Zur Nutzung von nimmt-ab wird ein Account benötigt. Die Nutzung ist anonym über ein Pseudonym möglich. Lediglich die E-Mailadresse muss ihnen gehören um sie per Mail kontaktieren zu können.
    %h2 Schutz von Daten
    %p
      In der
      = link_to "Datenschutzerklärung", datenschutz_url
      wird ihnen die Nutzung ihrer Daten erläutert.
    %h2 Nutzung des Dienstes
    %p
      Eine missbräuchliche Nutzung in jeglicher Art und Weise ist untersagt. Sollte es zu einer missbräuchlichen Nutzung kommen kann ihr Account ausgesetzt oder gelöscht werden.
    %h2 Inhalte
    %p
      Zur Erbringung des Dienstes räumen sie die Nutzung und Verbreitung von Inhalten ein, die durch sie eingestellt werden. Hierfür werden von ihnen eingegebene Daten gespeichert. Für die öffentliche Darstellung ihrer Daten müssen diese zuerst von ihnen explizit freigegeben werden. Sollten Daten gegen Verhaltensrichtlinien oder geltendes Recht verstoßen, so können sie ohne Vorwarnung gelöscht werden.
    %h2 Änderung oder Beendingung des Dienstes
    %p
      Die Nutzung des Dienstes kann jederzeit beendet werden. Nimmt-ab ist nicht für die Erbringung des kostenlosen Dienstes verpflichtet. Ständige Entwicklung am Dienst kann zur Einführung neuer Funktionen oder dem Wegfall von vorhandenen Funktionen führen. Über Änderungen werden sie über ihren E-Mailadresse informiert.
    %h2 Änderungen der Nutzungsbestimmmung
    %p
      Diese Bedingungen können sich im Laufe der Zeit ändern, um an äußere Gegebenheiten oder Funktionen des Dienstes angepasst zu werden. Falls sie mit den veränderten Nutzungsbedingungen nicht einverstanden sind muss die Nutzung eingestellt werden.
    %h2 Gewährleistungsausschluss
    %p
      Es wird keine Gewähr für die Verfügbarkeit des Dienstes eingeräumt. Ebensowenig die Verwendbarkeit des Dienstes und die Vollständigkeit und Korrektheit der darin veröffentlichten Inhalte.    