- title "schnell und gesund abnehmen"
#content
  .wrapper
    %h1 schnell Abnehmen
    %p
      Wenn Du <b>schnell abnehmen</b> willst dann musst Du konseqent sein. Am besten geht es in der Gemeinschaft. Wenn es mal wieder holprig wird dann helfen die Unterstützer weiter. Nur so kann man schnell abnehmen. Eine Blitzdiät ist das falsche Mittel und kann zu gesundheitlichen Problemen führen. Hierbei ist der Körper nicht mit den nötigen Stoffen versorgt und schaltet einen Gang runter. Und anschließend, sobald man sich wieder “normal” ernährt, hortet der Körper alles was im zuvor gefehlt hat. Deshalb geht schnell Abnehmen nur dann, wenn man es gesund macht.
    %h2 Aber warum dann überhaupt schnell abnehmen?
    %p
      Die Frage ist berechtigt: den kurzfristigen Effekt überdeckt man kurz darauf mit Heißhunger und zusätzlichen Einlagerungen an Stellen, an denen man es eigentlich nicht haben wollte. Aus diesem Grund sollte man sich von dem Gedanken distanzieren und sich lieber auf eine längere Strategie einstellen. 
    %h2 Tipps zum schnellen Abnehmen
    %p
      Dein Ziel sollte es also nicht sein, innerhalb von 5 Tagen 5 Kilo zu verlieren, sondern besser in 14 Tagen 2 Kilo. Und wenn man sich an eine paar Spielregel hält, dann klappt das auch. Tipps hierzu findest Du in den Gruppen bei nimmt-ab.de. Also nichts wie rein in die Community. Helft euch gegenseitig und es geht deutlich einfacher - und somit auch schneller.
#content
  .wrapper
    %h1 gesund Abnehmen
    %p
      Willst Du <b>gesund abnehmen</b> hilft eine Ernährungsumstellung. Falls Du nicht bereits jeden Tag eine gesunde Mahlzeit eingeplant hast, dann ist jetzt der richtige Zeitpunkt hierfür. Um nicht auf kurzfristige Effekte zu setzen solltest Du einige Grundregeln beachten.
    %h2 Obst und Gemüse helfen beim gesund Abnehmen
    %p
      Ersetze Deine negativen Speisen durch Gesunde. Statt eines Hamburgs lieber einen leckerern Fruchtsalat machen. Das sättigt genauso, ist aber viel gesünder. Und mit den richtigen Zutaten schmeckt es Dir möglicherweise besser als Fastfood. Welche Rezepte einfach und schnell umzusetzen sind kannst Du in der Community erfahren. Erstelle Dir ein kostenloses Profil und trage mit Deinen Erfahrungen zum Erfolg Aller bei.
    %h2 Die Community
    %p
      Wenn man sich gegenseitig unterstützt ist gesund Abnehmen gar nicht so schwer.