<div id="ads_leaderboard" >
  <div id="ads_inner">
    <script type="text/javascript"><!--
      google_ad_client = "ca-pub-5813372499647345";
      /* 728x90_Nimmt_Ab_Leaderboard */
      google_ad_slot = "2042292255";
      google_ad_width = 728;
      google_ad_height = 90;
      //-->
    </script>
    <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
</div>